#myCanvas
{
   background-image:url('../images/space.png');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

canvas{
    position : absolute;
    left: 0px;
    top : 0px;


}